body {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin-left: 10px;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navbar {
  font-family: "Poller One", Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

#container {
  align-items: center;
  cursor: default;
  display: flex;
  flex-grow: 2;
  justify-content: center;
}

#single-contact {
  display: flex;
}

#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #222222;
}

th,
td {
  padding: 5px;
}

tr:hover {
  background-color: #f2f2f2;
}

.routineActs {
  padding: 5px;
  margin: 10px;
  border: 1px solid black;
  background-color: #bef5c3;
}

#activities {
  font-size: 12px;
  margin-bottom: 2px;
  border: 1px solid black;
  padding: 5px;
}

.links {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
#home,
#navbarActivities,
#routinesNav,
#logout,
#myRoutines,
#login {
  padding-right: 10px;
  text-decoration: none;
  color: white;
}

.activitiesTitle {
  margin: 10px;
}

.loginForm {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

#inputs {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  width: 200px;
}

.registerForm {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

.myRoutines {
  border: 1px solid black;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #bef5c3;
}
#activities {
  background-image: linear-gradient(to right, #329d9c, #56c596);
  margin-bottom: 10px;
}

#activities2 {
  background-image: linear-gradient(to right, #329d9c, #56c596);
  margin-bottom: 10px;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#createRoutine,
#createActivity {
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  background-image: linear-gradient(to right, #56c596, #329d9c);
}

#nameGoal {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 3px;
}

#nameDescription {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 3px;
}

#addActivityToR {
  border: 1px solid #222222;
  padding:5px;
  background-color: rgba(255, 255, 255, 0.758);
}

h4,
h2 {
  margin-left: 10px;
}

b {
  font-size: 15px;
}

#editRoutine {
  margin-top: 5px;
  border: 1px solid black;
  padding:5px;
  background-color:rgba(255, 255, 255, 0.758);
}
#routines {
  padding-left: 5px;
  background-color: #bef5c3;
}

#countDuration, #durationCount{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 5px;
  margin-top:3px;
}

#editSubmit{
  margin-bottom:5px;
}
h2 {
  text-align:center;
  color:#56c596;
  ;
}

#homeText {
  text-align:center;
}